# Xcode
build/
DerivedData/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Xcode user-specific files
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
*.xcworkspace/contents.xcworkspacedata
*.xcodeproj/project.xcworkspace/contents.xcworkspacedata
*.xcuserstate

# macOS
.DS_Store
.AppleDouble
.LSOverride
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# App build outputs
*.app/
!app/

# Installer and release files
*.pkg
*.dmg
dmg_temp/

# Swift Package Manager
.swiftpm/
.build/
*.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/

# CocoaPods
Pods/

# IDEs
.idea/
*.xcworkspace
!*.xcodeproj/project.xcworkspace/

# User-specific files
*.swp
*.swo
*~
.vscode/
